!!! html
head
  meta(charset='utf-8')
  meta(name='description', content='')
  title #{title} - Nohm Backend
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="/assets/ico/favicon.ico")
  // if lt IE 9
     != context.js("html5shiv")
  != context.js("jquery.min")
  != context.js("bootstrap.min")
  != context.js("jade.min")
  != context.js("spine")
  != context.js("spine.ajax")

  != context.css("docs")
  != context.css("simplex.min")
  != context.css("bootstrap-responsive.min")
  != context.css('app')
  
body
  if user && user.auth
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Nohm Backend
          .nav-collapse
            ul.nav
              li: a(href="#{basepath}/dashboard") Dashboard
              li: a#command-btn(href="#") Command
              li: a#persistent-btn(href="#") Persistent
            ul.nav.pull-right
              li: a(href="#{basepath}/logout") Logout

  block content

  script(id="command-tpl", type="template")
    include includes/command.jd
  script(id="persistent-tpl", type="template")
    include includes/persistent.jd
  script
    var model_name = '#{model_name}';
    var basepath = '#{basepath}';

  != context.js('app')
| </html>
